<section class="hero">
    <div class="hero-body">
        <p class="title">
            Mes Films
        </p>
        <p class="subtitle">
            Retrouvez tous les films enregistrés dans votre bibliothèque
        </p>

        <table class="table is stripped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Note</th>
                    <th>Synopsis</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Note</th>
                    <th>Synopsis</th>
                </tr>
            </tfoot>
            <tr *ngFor="let movie of movies">
                <th>{{ movie.id }}</th>
                <td>{{ movie.title }}</td>
                <td>{{ movie.rating }}</td>
                <td>{{ (movie.synopsis.length > 50) ? (movie.synopsis | slice:0:47) + '...' : (movie.synopsis) }}</td>
                <div class="block button is-success" (click)="gotoDetails(movie)">Détails</div>
                <div class="block button is-warning" (click)="editMovie(movie)">Modifier</div>
                <div class="block button is-danger" (click)="deleteMovie(movie)">Supprimer</div>
            </tr>
        </table>
    </div>
</section>