<section class="hero">
    <div class="hero-body">
        <p class="title">
            Mes Films
        </p>
        <p class="subtitle">
            Retrouvez tous les films enregistrés dans votre bibliothèque
        </p>

        <table class="table is stripped">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Synopsis</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Synopsis</th>
                    <th>Note</th>
                </tr>
            </tfoot>
            <tr *ngFor="let movie of movies">
                <td class="button is-warning" (click)="editMovie(movie)">Modifier</td>
                <th>{{ movie.id }}</th>
                <td>{{ movie.title }}</td>
                <td>{{ movie.synopsis }}</td>
                <td>{{ movie.rating }}</td>
            </tr>
        </table>
    </div>
</section>